# .gitignore
.env
client/fighthub_mobile/google-services.json
client/fighthub_mobile/firebaseConfig.js
client/fighthub_mobile/keys/keys.js
client/fighthub_mobile/GoogleService-Info.plist
server/.env
node_modules
/android
/ios
